.btnMain {
    background-color: #81C3D7;
    border: 1px solid #81C3D7;
}

.cardMain {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s;
}

.cardMain:hover {
    transform: translateY(-5px);
}

.cardBody {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardText {
    color: #2D3748;
}

.btnMain {
    margin-top: auto;
    align-self: center;
}



.cardImg {
    height: 200px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}


.cardTitle {
    color: #2D3748;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}